thead th {
  background-color: hwb(234 0% 71%);
  padding: 35px;
  text-align: center;
  color: rgb(199, 158, 80);
  font-family: Lucida Calligraphy;
  font-size: 35px;
  
  border-top-color: rgb(199, 158,80);
  border-left-color: rgb(199, 158, 80);
    border-right-color: hwb(12 2% 75%);
    border-bottom-color: hwb(12 2% 75%);
  border-width: 5px;
  border-top-style: groove;
    border-bottom-style: groove;
    border-left-style: groove;
    border-right-style: groove; 

}
tbody tr:nth-child(even) {
  background-color: hwb(12 2% 56%);
  color: rgb(199, 158, 80);
  text-align: center;
  font-family: Lucida Calligraphy;
  font-size: 25px;
  padding: 25px;
 
}
tbody tr:nth-child(odd) {
  background-color: hwb(240 45% 55%);
  color: rgb(199, 158, 80);
  text-align: center;
  font-family: Lucida Calligraphy;
  font-size: 25px;
  
  
  
  
}

tbody tr:nth-child(even) :hover {
  background-color: hwb(12 2% 75%);
  color: rgb(199, 158, 80);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  padding: 25px;
  
}
tbody tr:nth-child(odd) :hover {
  background-color: hwb(240 45% 75%);
  color: rgb(199, 158, 80);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  padding: 25px;
  
}

h4 {
  color: hwb(12 2% 75%);
  text-align: center;
  font-family: Lucida Calligraphy;
  font-size: 50px;
  padding: 25px;
  border-color: hwb(12 2% 75%);
  border-width: 5px;
  border-style: ridge;
  background-color: hwb(234 0% 71%);
  margin: 25px;
}